body{
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x:hidden;
}
::-webkit-scrollbar{
width: 0;
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  background-color:rgb(95, 228, 115);
  border-bottom: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
}
.cabecalho a{
margin-right: 30%;
display: flex;
width: 50px;
height: 70px;
}
.logo{
  scale: 100%;
  transition: all 0.3s ease-out;
}
.logo:hover{
  cursor: pointer;
  transform: scale(1.1,1.1);
}
.pesquisa1{
  margin-left: -20%;
  width: 30%;
  height: 30%;
  background-color: white;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
  border-style: solid;
}
.canto{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 13%;
  height: 100%;
}

.container-input {
  position: relative;
  margin-left: -20%;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}
.btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px .2px #00000035;
  box-shadow: 1px 1px 5px .2px #00000035;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  transition-delay: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.btn:hover {
  width: 150px;
  transition-delay: .2s;
}

.btn:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.btn:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.bnt:hover > .icon-wrapper .icon path {
  stroke: black;
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(.9);
  transition: .2s linear;
}

.icon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6%;
  background-color:rgb(175, 247, 185);
  border-bottom: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
}
.opcoes_texto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  position: relative;
  float: left;
}

nav li a {
  display: block;
  padding: 10px;
  color: #0d5000;
  font-family:Arial, Helvetica, sans-serif;font-size: 18px;
  text-decoration: none;
}

nav li:hover {
  background-color: #85e46e;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #85e46e;
  padding: 0;
}

nav ul ul li {
  float: none;
  width: 100%;
}

nav ul ul a {
  padding: 5px 10px;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
}

nav ul li:hover > ul {
  display: inherit;
  z-index: 1;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.quadrado1
{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;

} 

.ruiva
{
width: 550px;
height: 457px;
display: flex;
background-color: rgb(255, 255, 255);
margin-left: 300px;
margin-top: 50px;
border-width: 4px;
border-style:solid;
justify-items: center;
}

.escrevido
{
  width: 650px;
  height: 490px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
}

.escrevido p
{
  color:#009e2a;
}

.descricao
{
  width: 790px;
  height: 250px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: 15px;
}

.compra {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 25px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 370px;
  margin-top: 60px;
  border-radius: 10px;
  
}

.compra:hover
{
  scale: 105%;
  cursor: pointer;
}

.preco
{
  width: 300px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  color: rgb(242, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: left;
}

.sublinhado
{
  text-decoration: line-through;
  font-size: 18px;
  
}